html, body
{
    background-color: #212529;
    color: #899095; 
    margin: 0px;
}

header
{
    height: 65px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgb(137, 144, 149);
    width: 100%;
}

img.logo
{
    height: 60px;
}

nav img
{
    height: 35px;
}

nav{
    float: right;
    width: 100%;
}

nav ul{
    float: right;
}

nav li{
    font-size: 12px;
    display: inline-block;
    margin-left: 20px;
    margin-top: 10px;
}

input[type=search]
{ 
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    box-shadow: 1px 1px 2px #333333;
    -moz-box-shadow: 1px 1px 2px #333333;
    -webkit-box-shadow: 1px 1px 2px #333333;
    background: #cccccc;
    border:1px solid #000000;
    width:150px;
    height: 25px;
    
}

span
{
    width: 100%;
}

span form
{
    text-align: center;
}

main
{
    display: flex;
    margin-top: 25px;
}

.publi
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center
}

div.card-publi
{
    margin: 10px;
    max-width: 900px;
    background: #191c1f;
    box-shadow: 0px 1px 2px 1px rgb(74, 75, 77);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.card-publi img
{
    display: inline-block;
    position: relative;
    text-align: center;
    width: 900px;
    height: 506px;

}

span.nome-usuario
{
    padding:15px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

div.card-conteudo
{
    padding: 25px;
}

span.card-descri
{
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal
}


.canais
{
    float: right;
    width: 15%;
    display: block;
}

div.card-video
{
    margin: 10px;
    background: #191c1f;
    box-shadow: 0px 1px 2px 1px rgb(74, 75, 77);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}



.canais h1
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
}

.card-video img
{
    display: inline-block;
    position: relative;
    text-align: center;
    width: 100%;
}



.nome-canal
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: gainsboro;
}






